<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Compras</span>
                    <button mat-stroked-button (click)="Limpiar();OpendModal()">Nueva Compra</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='proveedor'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                  <td mat-cell *matCellDef="let row">{{row.nombreProveedor}}</td>
                </ng-container>

                <ng-container matColumnDef='parcela'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='estatus'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='costoM2'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo por M2</th>
                    <td mat-cell *matCellDef="let row">{{row.costoM2}}</td>
                </ng-container>

                <ng-container matColumnDef='area'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                    <td mat-cell *matCellDef="let row">{{row.area}}</td>
                </ng-container>

                <ng-container matColumnDef='total'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                    <td mat-cell *matCellDef="let row">{{row.total}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="CargarDatos(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="OpendModalEstatus(row)">
                            <mat-icon>loop</mat-icon>
                            <span>Cambio Estatus</span>
                          </button>
                          <button mat-menu-item (click)="Eliminar(row)" [hidden]="row.estatus == 1">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
    </div>
</div>