<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field [hidden]="compra.ubicador != 0">
                <input matInput placeholder="Parcela" [matAutocomplete]="auto" [formControl]="stateCtrl" >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtenParcela($event.option.id)">
                    <mat-option *ngFor="let P of FilteredParcela | async" [value]="P.nombre" [id]="P.id">
                        <span>{{P.nombre}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field [hidden]="compra.ubicador == 0 ">
                <input matInput placeholder="Parcela" [(ngModel)]="compra.nombreParcela" disabled>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field [hidden]="compra.ubicador != 0 ">
                <input matInput placeholder="Proveedores" [matAutocomplete]="autoPro" [formControl]="stateCtrl" [disabled]="compra.ubicador == 1">
                <mat-autocomplete #autoPro="matAutocomplete" (optionSelected)="ObtenProveedor($event.option.id)">
                    <mat-option *ngFor="let P of FilteredPro | async" [value]="P.nombre" [id]="P.id">
                        <span>{{P.nombre}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field [hidden]="compra.ubicador == 0 ">
                <input matInput placeholder="Proveedo" [(ngModel)]="compra.nombreProveedor" disabled>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput type="number" min="0" placeholder="Costo por Metro Cuadrado" [(ngModel)]="compra.costoM2">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput type="number" min="0" placeholder="Area" [(ngModel)]="compra.area">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <button mat-stroked-button color="primary" [hidden]="compra.ubicador != 0 " (click)="GuardarCompra()">Guardar</button>
            <button mat-stroked-button color="primary" [hidden]="compra.ubicador == 0 " (click)="ActualizarCompra()">Actualizar </button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button mat-stroked-button color="primary" (click)="Cancelar()">Cancelar</button>
        </div>
    </div>
</div>