<!--router-outlet></router-outlet-->


<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar" id="sidenav" style="background: #1D8348;">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h4 class="example-app-name">Inmobiliaria IMF </h4>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 75 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="75">
            <mat-nav-list>
                <mat-accordion class="example-headers-align">
                    <!--Aqui debo poner las validaciones para los roles-->
                    <mat-expansion-panel [hidden]="rol > 3">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Configuraciones
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>build</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--Aqui estan los modulos de configuraciones-->
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Pais')">Paises</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Estado')">Estados</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Ciudad')">Ciudad</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Banco')">Banco</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Usuarios')">Usuarios</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button mat-button (click)="navegador('Configuracion/Empresa')">Empresas</button>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <!--Proveedores-->
                    <mat-expansion-panel [hidden]="rol > 3">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Proveedor
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>person</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Proveedores')">Proveedores</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Parcelas-->
                    <mat-expansion-panel [hidden]="rol > 3">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Parcelas
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>filter_hdr</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Parcelas')">Parcelas</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Compras-->
                    <mat-expansion-panel [hidden]="rol > 3">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Compras
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>thumbs_up_down</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Compras')">Compras</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Clientes-->
                    <mat-expansion-panel [hidden]="rol == 5">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Clientes
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>supervised_user_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Clientes')">Clientes</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Separaciones-->
                    <mat-expansion-panel [hidden]="rol == 5">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Separaciones
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>card_travel</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button mat-button (click)="navegador('Separaciones')">Separacion</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button mat-button (click)="navegador('Separaciones/Canceladas')">Canceladas</button>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <!--Venta-->
                    <mat-expansion-panel [hidden]="rol == 5">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Ventas
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>business_center</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Ventas')">Venta</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Escrituras-->
                    <mat-expansion-panel [hidden]="rol == 5">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Escrituras
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>description</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Escritura')">Escritura</button>
                        </div>
                    </mat-expansion-panel>

                    <!--Pagos-->
                    <mat-expansion-panel [hidden]="rol == 4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Pagos
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon>monetization_on</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <button mat-button (click)="navegador('Pagos')">Pago</button>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>