<div mat-dialog-content>
    <mat-form-field [hidden]="escritura.ubicador != 0">
		<input matInput placeholder="Clientes" [matAutocomplete]="auto" [formControl]="StateCli">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="Parcela($event.option.id)">
			<mat-option *ngFor="let C of FilerCli | async" [value]="C.nombreCliente" [id]="C.cliente">
				<span>{{C.nombreCliente}}</span>
			</mat-option>
		</mat-autocomplete>
    </mat-form-field>
    <mat-form-field [hidden]="escritura.ubicador == 0">
		<input matInput placeholder="Cliente" [(ngModel)]="escritura.nombreCliente" disabled>
	</mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
		<mat-label>Parcela</mat-label>
		<mat-select [(ngModel)]="escritura.idParcela" [disabled]="escritura.ubicador != 0">
			<mat-option *ngFor="let P of parcela" [value]="P.parcela" (click)="Lote(P.parcela)">
                {{P.nombreParcela}}
            </mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Lote</mat-label>
		<mat-select [(ngModel)]="escritura.idLote" [disabled]="escritura.ubicador != 0">
            <mat-option *ngFor="let L of lote" [value]="L.lote">
                {{L.numeroLote}}
            </mat-option>
        </mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput type="number" placeholder="Precio" min="0" [(ngModel)]="escritura.precio">
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput type="number" placeholder="Plazo" min="0" [(ngModel)]="escritura.plazo">
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput type="number" placeholder="Fijo" min="0" [(ngModel)]="escritura.fijo">
	</mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [min]="date" [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="escritura.inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Guardar()" [hidden]="escritura.ubicador != 0">Guardar </button>
	<button mat-button (click)="Editar()" [hidden]="escritura.ubicador == 0">Actualizar </button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>