<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Escrituras</span>
                    <button mat-stroked-button (click)="Limpiar();Escrituras()">Generar Escritura</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombreParcela'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                  <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='numeroLote'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                    <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreCliente'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                </ng-container>
                
                <ng-container matColumnDef='estatusEscritura'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusEscritura}}</td>
                </ng-container>

                <ng-container matColumnDef='precio'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                    <td mat-cell *matCellDef="let row">{{row.precio}}</td>
                </ng-container>

                <ng-container matColumnDef='plazo'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Plazo</th>
                    <td mat-cell *matCellDef="let row">{{row.plazo}}</td>
                </ng-container>

                <ng-container matColumnDef='fijo'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fijo</th>
                    <td mat-cell *matCellDef="let row">{{row.fijo}}</td>
                </ng-container>

                <ng-container matColumnDef='inicio'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let row">{{row.inicio}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  (click)="Editar(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item  (click)="Aprobar(row)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Aprobar</span>
                          </button>
                          <button mat-menu-item  (click)="Documentos(row)">
                            <mat-icon>description</mat-icon>
                            <span>Documentos</span>
                          </button>
                          <button mat-menu-item  (click)="Cancelar(row)">
                            <mat-icon>not_interested</mat-icon>
                            <span>Cancelar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
    </div>
</div>