<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Cuentas</span>
                    <button mat-stroked-button (click)="NuevoCuenta()">Nuevo Cliente</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef='nombreBanco'>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                      <th scope="row">1</th>
                      <td mat-cell *matCellDef="let row">{{row.nombreBanco}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef='cuenta'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
                        <th scope="row">1</th>
                        <td mat-cell *matCellDef="let row">{{row.cuenta}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="Eliminar(row)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                              </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;">
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>