<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select [(ngModel)]="cuenta.idBanco">
            <mat-option *ngFor="let B of banco" [value]="B.id">{{B.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Cuenta" min="0" [(ngModel)]="cuenta.cuenta">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button  (click)="GuardarCuentas()">Guardar</button>
    <button mat-button (click)="Cancelar()"> Cancelar</button>
</div>