<div  mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="Nombre" [(ngModel)]="empresa.nombre">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput placeholder="RFC" [(ngModel)]="empresa.rfc">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Calle" [(ngModel)]="empresa.calle">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Numero" type="text" [(ngModel)]="empresa.numero">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Colonia" [(ngModel)]="empresa.colonia">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Codigo Postal" type="number" [(ngModel)]="empresa.codigoPostal">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Pais</mat-label>
                <mat-select [(ngModel)]="empresa.idPais">
                    <mat-option *ngFor="let P of paises" [value]="P.idPais" (click)="Estados(P.idPais)">
                        {{P.nombrePais}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estados</mat-label>
                <mat-select [(ngModel)]="empresa.idEstado" >
                    <mat-option *ngFor="let E of estados" [value]="E.idEstado" (click)="Ciudad(E.idPais,E.idEstado)" >
                        {{E.nombreEstado}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estados</mat-label>
                <mat-select [(ngModel)]="empresa.idCiudad" >
                    <mat-option *ngFor="let C of ciudades" [value]="C.idCiudad">
                        {{C.nombreCiudad}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-stroked-button color="primary" (click)="GuardarEmpresa()" [hidden]="empresa.idEmpresa != 0">Nueva Empresa</button>
            <button mat-stroked-button color="primary" (click)="EditarEmpresa()" [hidden]="empresa.idEmpresa == 0">Actualizar Empresa</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button mat-stroked-button color="primary" (click)="Cerrar()">Cerrar</button>
        </div>
    </div>
</div>