<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Empresa</span>
                    <button mat-stroked-button color="primary" [hidden]="buttonHiden == 1" (click)="Limpiar();OpenModal()">Nueva Empresa</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
            <br>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef='nombre'>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                      <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
                    </ng-container>

                    <ng-container matColumnDef='rfc'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
                        <td mat-cell *matCellDef="let row">{{row.rfc}}</td>
                    </ng-container>

                    <ng-container matColumnDef='direccion'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                        <td mat-cell *matCellDef="let row">{{row.calle}} #{{row.numero}},{{row.colonia}} {{row.cp}}</td>
                    </ng-container>

                    <ng-container matColumnDef='Ubicacion'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                        <td mat-cell *matCellDef="let row">{{row.nombreCiudad}},{{row.numero}},{{row.nombreEstado}},{{row.nombrePais}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="CargarDatos(row)">
                                <mat-icon>comment</mat-icon>
                                <span>Editar</span>
                              </button>
                              <button mat-menu-item (click)="CuentasBancarias(row)">
                                <mat-icon>account_balance_wallet</mat-icon>
                                <span>Cuenta Bancaria</span>
                              </button>
                              <button mat-menu-item  (click)="Eliminar(row)">
                                <mat-icon>delete</mat-icon>
                                <span>Borrar</span>
                              </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;">
                    </tr>
                  </table>
            </div>
        </mat-card>
    </div>
</div>
