<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Extencion" min="0" [(ngModel)]="proTel.codigo">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <mat-form-field>
        <input matInput type="number" placeholder="Telefono" min="0" [(ngModel)]="proTel.telefono">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button  id="Guardar" (click)="GuardarContacto()">Guardar</button>
    <button mat-button (click)="onNoClick()"> Cancelar</button>
</div>