<div mat-dialog-content>
    <mat-form-field [hidden]="separacion.ubicador != 0">
        <input matInput placeholder="Cliente" [matAutocomplete]="auto" [formControl]="StateCliente">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ObtenerCliente($event.option.id)">
            <mat-option *ngFor="let C of FilterCliente | async" [value]="C.nombreCliente" [id]="C.id">
                <span>{{C.nombreCliente}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field [hidden]="separacion.ubicador == 0">
        <input matInput placeholder="Cliente" [(ngModel)]="separacion.nombCliente" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field [hidden]="separacion.ubicador != 0">
        <input matInput placeholder="Parcela" [matAutocomplete]="autoPar" [formControl]="StateParcela">
        <mat-autocomplete #autoPar="matAutocomplete" (optionSelected)="ObtenerParcela($event.option.id)">
            <mat-option *ngFor="let P of FilterParcela | async" [value]="P.nombre" [id]="P.id">
                <span>{{P.nombre}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field [hidden]="separacion.ubicador == 0">
        <input matInput placeholder="Cliente" [(ngModel)]="separacion.nomParcela" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Lotes</mat-label>
        <mat-select [(ngModel)]="separacion.idLote">
            <mat-option *ngFor="let L of lotes" [value]="L.id">
                {{L.numeroLote}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Agentes</mat-label>
        <mat-select [(ngModel)]="separacion.idAgente">
            <mat-option *ngFor="let A of agentes" [value]="A.id">
                {{A.usuario}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content> 
    <mat-form-field>
        <input matInput type="number" placeholder="Enganche" min="0" [(ngModel)]="separacion.enganche">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [hidden]="separacion.ubicador == 0" (click)="ActualizarSeparacion()">Actualizar</button>
    <button mat-button [hidden]="separacion.ubicador != 0" (click)="GuardarSeparacion()">Guardar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>