<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Reporte</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='numeroPago'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Pago</th>
                  <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreParcela'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='numeroLote'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Lote</th>
                    <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreCliente'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                </ng-container>

                <ng-container matColumnDef='estatusPago'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusPago}}</td>
                </ng-container>

                <ng-container matColumnDef='formaPago'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago</th>
                    <td mat-cell *matCellDef="let row">{{row.formaPago}}</td>
                </ng-container>

                <ng-container matColumnDef='importe'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let row">{{row.importe}}</td>
                </ng-container>

                <ng-container matColumnDef='restante' >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                    <td mat-cell *matCellDef="let row">{{row.restante}}</td>
                </ng-container>

                <!--ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="CargarDatos(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="ReportePagos(row)">
                            <mat-icon>library_books</mat-icon>
                            <span>Reporte Pagos</span>
                          </button>
                          <button mat-menu-item (click)="Documentos(row)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Documentos</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container-->
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>