<div mat-dialog-content>
    <mat-form-field [hidden]="venta.ubicador != 0">
        <input matInput placeholder="Cliente" [matAutocomplete]="auto" [formControl]="StateCli">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="Parcelas($event.option.id)">
            <mat-option *ngFor="let C of FilterCLi | async" [value]="C.nombreCliente" [id]="C.cliente">
                <span>{{C.nombreCliente}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field [hidden]="venta.ubicador == 0">
        <input matInput placeholder="Cliente" [(ngModel)]="venta.nombreCliente" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Parcela</mat-label>
        <mat-select [(ngModel)]="venta.idParcela" [disabled]="venta.ubicador != 0">
            <mat-option *ngFor="let P of parcela" [value]="P.parcela" (click)="Lotes(P.parcela)">
                {{P.nombreParcela}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Lote</mat-label>
        <mat-select [(ngModel)]="venta.idLote" [disabled]="venta.ubicador != 0">
            <mat-option *ngFor="let L of lotes" [value]="L.lote">
                {{L.numeroLote}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Agente</mat-label>
        <mat-select [(ngModel)]="venta.idUsuario">
            <mat-option *ngFor="let A of agentes" [value]="A.id">
                {{A.usuario}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Plazo" type="number" [(ngModel)]="venta.plazo">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Fijo" type="number" [(ngModel)]="venta.fijo">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Incluir excritura</mat-checkbox>
    </section>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [min]="date" [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="venta.inicio" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="GuardarVenta()" [hidden]="venta.ubicador != 0" [disabled]="restante - (venta.plazo * venta.fijo) < 0">Guardar</button>
    <button mat-button [hidden]="venta.ubicador == 0" (click)="ActualiarVenta()" [disabled]="restante - (venta.plazo * venta.fijo) < 0">Actualizar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>