<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Ventas</span>
                    <button mat-stroked-button (click)="Limpiar();OpendModal()">Nueva Venta</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombreParcela'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                  <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='numeroLote'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                    <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreCliente'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                </ng-container>

                <ng-container matColumnDef='estatusVentas'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusVentas}}</td>
                </ng-container>

                <ng-container matColumnDef='fijo'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                    <td mat-cell *matCellDef="let row">{{row.fijo}}</td>
                </ng-container>

                <ng-container matColumnDef='pagado'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagado</th>
                    <td mat-cell *matCellDef="let row">{{row.pagado}}</td>
                </ng-container>

                <ng-container matColumnDef='restante'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Restantes</th>
                    <td mat-cell *matCellDef="let row">{{row.restante}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="CargarDatos(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="Aprobar(row)" [hidden]="row.estatus == 3">
                            <mat-icon>done_outline</mat-icon>
                            <span>Aprobar</span>
                          </button>
                          <button mat-menu-item (click)="Documentos(row)" [hidden]="row.estatus != 3">
                            <mat-icon>description</mat-icon>
                            <span>Documentos</span>
                          </button>
                          <!--button mat-menu-item (click)="Eliminar(row)" [disabled]="row.estatus == 5">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                          </button-->
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>