<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Separaciones Canceladas</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombreParcela'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                  <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='lote'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                    <td mat-cell *matCellDef="let row">{{row.lote}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreCliente'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                </ng-container>

                <ng-container matColumnDef='usuario'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Agente</th>
                    <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
                </ng-container>

                <ng-container matColumnDef='estatusSeparacion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusSeparacion}}</td>
                </ng-container>

                <ng-container matColumnDef='enganche'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Enganche</th>
                    <td mat-cell *matCellDef="let row">{{row.enganche}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="EliminarSeparacion(row)" [disabled]="row.estatus == 3 || row.estatus == 4">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>