<div mat-dialog-content>
    <h4>{{documento.documento}}</h4>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Cliente" [(ngModel)]="documento.cliente" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Parcela" [(ngModel)]="documento.parcela" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Lote" [(ngModel)]="documento.lote" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Importe" [(ngModel)]="documento.importe" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Capital" [(ngModel)]="documento.capital">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Interes" [(ngModel)]="documento.interes" (keyup)="CalcularInt()">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Cantidad de intereses" [value]="intereses" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Descuento" [(ngModel)]="documento.descuento" (keyup)="CalcularDes()">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Cantidad de descuento" [value]="descuentoNum" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Fecha Vencimiento" [(ngModel)]="documento.reporte" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [min]="documento.reporte" [matDatepicker]="picker" placeholder="Fecha Promesa" [(ngModel)]="documento.promesa">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="ActualizarDocumento()">Actualizar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>