<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <mat-label>Pais</mat-label>
                <mat-select [(ngModel)]="direccion.idPais">
                    <mat-option *ngFor="let P of pais" [value]="P.idPais" (click)="Estado()">{{P.nombrePais}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <mat-label>Estado</mat-label>
                    <mat-select [(ngModel)]="direccion.idEstado">
                        <mat-option *ngFor="let E of estado" [value]="E.id" (click)="Ciudad()">{{E.nombre}}</mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <mat-select [(ngModel)]="direccion.idCiudad">
                    <mat-option *ngFor="let C of ciudad" [value]="C.id">{{C.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <input matInput placeholder="Calle" type="text" [(ngModel)]="direccion.calle">
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <input matInput placeholder="Numero" type="number" [(ngModel)]="direccion.numero">
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <mat-form-field>
                <input  matInput placeholder="Colonia" type="text" [(ngModel)]="direccion.colonia">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" [hidden]="direccion.long != 0 " (click)="Guardar()">Guardar</button>
    <button mat-stroked-button color="primary" [hidden]="direccion.long == 0 " (click)="Editar()">Actualizar</button>
    <button mat-stroked-button color="primary" (click)="Cerrar()">Cerrar</button>
</div>