<div mat-dialog-content>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Nombre" [(ngModel)]="cliente.nombres">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Apellido Paterno" [(ngModel)]="cliente.apellidoP">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Apellido Materno" [(ngModel)]="cliente.apellidoM">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Correo" [(ngModel)]="cliente.correo">
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Ocupacion" [(ngModel)]="cliente.ocupacion">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field *ngIf="cliente.idTipoCli == 2">
				<mat-label>Estado Civil</mat-label>
				<mat-select [(ngModel)]="cliente.idEstadoCivil">
                    <mat-option *ngFor="let EC of estadoCivil" [value]="EC.id">{{EC.civil}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field *ngIf ="cliente.idEstadoCivil == 2">
                <mat-label>Regimen</mat-label>
                <mat-select [(ngModel)]="cliente.idRegimen">
                    <mat-option *ngFor="let R of regimen" [value]="R.id">{{R.regimen}}</mat-option>
                </mat-select>
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
		    <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <mat-label>Tipo Persona</mat-label>
                <mat-select [(ngModel)]="cliente.idPersonaCli">
                    <mat-option *ngFor="let T of tPersona" [value]="T.id">{{T.tipo}}</mat-option>
                </mat-select>
            </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field [hidden]="cliente.idTipoCli != 2 || cliente.idPersonaCli != 1">
				<input matInput type="text" maxlength="13"  placeholder="RFC" [(ngModel)]="cliente.RFC" #fisica >
				<mat-hint align="end">{{fisica.value.length}}/ 13</mat-hint>
			</mat-form-field>
			<mat-form-field [hidden]="cliente.idTipoCli != 2 || cliente.idPersonaCli != 2">
                <input matInput type="text" maxlength="12" placeholder="RFC" [(ngModel)]="cliente.RFC" #moral>
                <mat-hint align="end">{{moral.value.length}}/ 12</mat-hint>
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <input matInput type="text" placeholder="CURP" [(ngModel)]="cliente.CURP" #longcurp maxlength="18">
                <mat-hint align="end">{{longcurp.value.length}}/18</mat-hint>
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <input matInput type="text" placeholder="Calle" [(ngModel)]="cliente.calle">
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <input matInput type="number" placeholder="Numero" [(ngModel)]="cliente.numero">
            </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
            <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <input matInput type="text" placeholder="Colonia" [(ngModel)]="cliente.colonia">
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
			<mat-form-field *ngIf="cliente.idTipoCli == 2">
                <input matInput #codigo max="5" type="number" placeholder="Codigo Postal" [(ngModel)]="cliente.codigoPostal">
				<mat-hint align="end">{{codigo.value.length}}/ 5</mat-hint>
            </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
		    <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <mat-label>Pais</mat-label>
                <mat-select [(ngModel)]="cliente.idPais">
                    <mat-option *ngFor="let P of pais" [value]="P.idPais" (click)="Estados(P.idPais)">{{P.nombrePais}}</mat-option>
                </mat-select>
            </mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
		    <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="cliente.idEstado">
                    <mat-option *ngFor="let E of estado" [value]="E.id" (click)="Ciudad(E.pais,E.id)">{{E.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
		</div>		
		<div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
		    <mat-form-field *ngIf="cliente.idTipoCli == 2">
                <mat-label>Ciudad</mat-label>
                <mat-select [(ngModel)]="cliente.idCiudad">
                    <mat-option *ngFor="let C of ciudad" [value]="C.id">{{C.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-stroked-button color="primary" [hidden]="cliente.idCliente != 0 " (click)="GuardarCliente()" >Nueva Cliente</button>
            <button mat-stroked-button color="primary" [hidden]="cliente.idCliente == 0 " (click)="EditarCliente()">Actualizar Cliente</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button mat-stroked-button color="primary" (click)="Cerrar()">Cerrar</button>
        </div>
    </div>
</div>