::ng-deep .mat-form-field {
    width: 100% !important;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 13%;
  }
  
  .mat-toolbar.mat-primary {
    background:white;
    color: black;
  }
  
  th {
    background-color:#f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color:#fbfbfb;
  }
  
  tr:nth-child(even) {
    background-color:#f2f2f2;
  }
