<div  mat-dialog-content>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select [(ngModel)]="usuario.idTipo">
                    <mat-option *ngFor="let T of tipo" [value]="T.id">{{T.tipo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <input matInput type="text" placeholder="Usuario" [(ngModel)]="usuario.usuario">
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" [(ngModel)]="usuario.password">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput type="text" placeholder="Nombres" [(ngModel)]="usuario.nombre">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput type="text" placeholder="Apellido Paterno" [(ngModel)]="usuario.apellidoP">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput type="text" placeholder="Apellido Materno" [(ngModel)]="usuario.apellidoM">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput type="text" placeholder="Correo" [(ngModel)]="usuario.correo">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button [hidden]="usuario.idUsuario == 0" (click)="EditarUsuario()">Actualizar</button>
    <button mat-button [hidden]="usuario.idUsuario != 0" (click)="GuardarUsuario()">Guardar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>