<div  mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <mat-label>Banco</mat-label>
                <mat-select [(ngModel)]="cuentaEmp.idBanco">
                    <mat-option *ngFor="let B of bancos" [value]="B.id">{{B.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput type="number" maxlength="18" placeholder="Cuenta" [(ngModel)]="cuentaEmp.cuenta">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <button mat-stroked-button color="primary" [hidden]="cuentaEmp.cuenta == 0" (click)="GuardarCuenta()">Nueva Cuenta</button>
            <button mat-stroked-button color="primary" [hidden]="cuentaEmp.cuenta != 0">Actualizar Cuenta</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button mat-stroked-button color="primary" >Cerrar</button>
        </div>
    </div>
</div>