<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Cuenta Proveedor</span>
                    <button mat-stroked-button (click)="Limpiar();OpenModal()">Nueva Cuenta</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombreProveedor'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                  <td mat-cell *matCellDef="let row">{{row.nombreProveedor}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreBanco'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreBanco}}</td>
                </ng-container>

                <ng-container matColumnDef='cuenta'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
                    <td mat-cell *matCellDef="let row">{{row.cuenta}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  (click)="Borrar(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
    </div>
</div>