<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Banco</mat-label>
        <mat-select name="idBanco" [(ngModel)]="proCuenta.idBanco">
            <mat-option *ngFor="let pC of bancos" [value]="pC.id">
                {{pC.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <mat-form-field>
        <input matInput type="number" placeholder="Cuenta" min="0" [(ngModel)]="proCuenta.cuenta" name="cuenta">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button  id="Guardar" (click)="GuardarCuenta()">Guardar</button>
    <button mat-button (click)="onNoClick()"> Cancelar</button>
</div>