<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Nombre" type="text" [(ngModel)]="proveedor.nombre" name="nombre">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="RFC" type="text" [(ngModel)]="proveedor.RFC" name="RFC">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Tipo Proveedor</mat-label>
                        <mat-select [(ngModel)]="proveedor.tipoPro" name="tipoPro">
                            <mat-option *ngFor="let tPer of tPersona" [value]="tPer.id">{{tPer.tipo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Tipo Proveedor</mat-label>
                        <mat-select [(ngModel)]="proveedor.persona">
                            <mat-option *ngFor="let tPro of tProveedor" [value]="tPro.id">{{tPro.tipo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Calle" type="text" [(ngModel)]="proveedor.calle" name="calle">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Numero" type="number" [(ngModel)]="proveedor.numero" name="numero">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Colonia" type="text" [(ngModel)]="proveedor.colonia" name="colonia">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Codigo Postal" type="number" [(ngModel)]="proveedor.codigoPostal" name="codigoPostal">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Paises</mat-label>
                        <mat-select [(ngModel)]="proveedor.idPais" name="idPais">
                            <mat-option *ngFor="let P of paises" [value]="P.idPais" (onSelectionChange)="obtPais(P.idPais)">{{P.nombrePais}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Estados</mat-label>
                        <mat-select [(ngModel)]="proveedor.idEstado" name="idEstado">
                            <mat-option *ngFor="let E of estados" [value]="E.id" (click)="obtEstado(E.pais,E.id)">{{E.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Ciudades</mat-label>
                        <mat-select [(ngModel)]="proveedor.idCiudad" name="idCiudad">
                            <mat-option *ngFor="let C of ciudades" [value]="C.id">{{C.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <br>
        <br>
        <button mat-stroked-button (click)="Editar()">Click</button>
    </div>
</div>