<div class="card">
    <div class="card-body">
        <br>
        <mat-card>
            <mat-tab-group >
                <mat-tab label="Ventas">
                    <br>
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span>Pago De Ventas</span>
                            <button mat-stroked-button (click)="LimpiarModelo();PagoVenta()">Nuevo Pago</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-card>
                        <mat-form-field>
                            <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
                        </mat-form-field>
                    </mat-card>
                    <br>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceVenta" matSort>
            
                            <ng-container matColumnDef='numeroPago'>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Pago</th>
                              <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreParcela'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='numeroLote'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreCliente'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='formaPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago</th>
                                <td mat-cell *matCellDef="let row">{{row.formaPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='estatusPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <td mat-cell *matCellDef="let row">{{row.estatusPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='importe'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <td mat-cell *matCellDef="let row">{{row.importe}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='restante'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                                <td mat-cell *matCellDef="let row">{{row.restante}}</td>
                            </ng-container>

                            <ng-container matColumnDef='reporte'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vecimiento</th>
                                <td mat-cell *matCellDef="let row">{{row.reporte}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="CargarDatosVentas(row)" [hidden]="row.restante == 0">
                                        <mat-icon>comment</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                      <button mat-menu-item (click)="AprobarPagoVenta(row)" >
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Aprobar</span>
                                      </button>
                                      <button mat-menu-item (click)="BorrarVenta(row)" [hidden]="row.restante != 0">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                      </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: Columns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                </mat-tab>

                <mat-tab label="Separaciones"> 
                    <br>
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span>Separaciones</span>
                            <button mat-stroked-button (click)="LimpiarModelo();PagoSeparacion()">Nuevo Pago</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-card>
                        <mat-form-field>
                            <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
                        </mat-form-field>
                    </mat-card>
                    <br>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort>
            
                            <ng-container matColumnDef='numeroPago'>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Pago</th>
                              <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreParcela'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='numeroLote'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreCliente'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='estatusPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <td mat-cell *matCellDef="let row">{{row.estatusPago}}</td>
                            </ng-container>

                            <ng-container matColumnDef='formaPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago</th>
                                <td mat-cell *matCellDef="let row">{{row.formaPago}}</td>
                            </ng-container>

                            <ng-container matColumnDef='importe'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <td mat-cell *matCellDef="let row">{{row.importe}}</td>
                            </ng-container>

                            <ng-container matColumnDef='restante'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Restante</th>
                                <td mat-cell *matCellDef="let row">{{row.restante}}</td>
                            </ng-container>

                            <ng-container matColumnDef='reporte'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reporte</th>
                                <td mat-cell *matCellDef="let row">{{row.reporte}}</td>
                            </ng-container>
           
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="CargarDatosSeparacion(row)">
                                        <mat-icon>comment</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                      <button mat-menu-item (click)="AprobarPagoSeparacion(row)">
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Aprobar</span>
                                      </button>
                                      <button mat-menu-item (click)="GenerarResivoSeparacion(row)">
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Resivo para Cobrador</span>
                                      </button>
                                      <button mat-menu-item (click)="BorrarSeparacion(row)" [disabled]="row.estatus == 5">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                      </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="ColumnsSeparacion"></tr>
                            <tr mat-row *matRowDef="let row; columns: ColumnsSeparacion;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                </mat-tab> 

                <mat-tab label="Escrituras">
                    <br>
                    <mat-toolbar>
                        <mat-toolbar-row>
                            <span>Escrituras</span>
                            <button mat-stroked-button (click)="LimpiarModelo();PagoEscritura()">Nuevo Pago</button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-card>
                        <mat-form-field>
                            <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
                        </mat-form-field>
                    </mat-card>
                    <br>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceEscritura" matSort>
            
                            <ng-container matColumnDef='numeroPago'>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
                              <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreParcela'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='numeroLote'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                            </ng-container>
                            
                            <ng-container matColumnDef='nombreCliente'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='nombreDocumento'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
                                <td mat-cell *matCellDef="let row">{{row.nombreDocumento}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='estatusPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <td mat-cell *matCellDef="let row">{{row.estatusPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='formaPago'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago</th>
                                <td mat-cell *matCellDef="let row">{{row.formaPago}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='interesDocumento'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Interes</th>
                                <td mat-cell *matCellDef="let row">{{row.interesDocumento}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='importe'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                                <td mat-cell *matCellDef="let row">{{row.importe}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef='reporte'>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                                <td mat-cell *matCellDef="let row">{{row.reporte}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="CargarDatosEscritura(row)">
                                        <mat-icon>comment</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                      <button mat-menu-item (click)="AprobarEscritura(row)">
                                        <mat-icon>done_outline</mat-icon>
                                        <span>Aprobar</span>
                                      </button>
                                      <!--button mat-menu-item (click)="Eliminar(row)" [disabled]="row.estatus == 5">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                      </button-->
                                    </mat-menu>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="ColumnsEscritura"></tr>
                            <tr mat-row *matRowDef="let row; columns: ColumnsEscritura;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

    </div>
</div>