<div mat-dialog-content>
	<mat-form-field [hidden]="pago.idPago != 0">
		<input matInput placeholder="Clientes" [matAutocomplete]="auto" [formControl]="StateCli">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="Parcela($event.option.id)">
			<mat-option *ngFor="let C of FilerCli | async" [value]="C.nombreCliente" [id]="C.cliente">
				<span>{{C.nombreCliente}}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field [hidden]="pago.idPago == 0">
		<input matInput placeholder="Cliente" [(ngModel)]="pago.nombreCliente" disabled>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Parcela</mat-label>
		<mat-select [(ngModel)]="pago.idParcela" [disabled]="pago.idPago != 0">
			<mat-option *ngFor="let P of parcela" [value]="P.parcela" (click)="Lote(P.parcela)">
                {{P.nombreParcela}}
            </mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Lote</mat-label>
		<mat-select [(ngModel)]="pago.idLote" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let L of lote" [value]="L.lote" (click)="Documento(L.lote)">
                {{L.numeroLote}}
            </mat-option>
        </mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Documentos</mat-label>
		<mat-select [(ngModel)]="pago.idDocumento" [disabled]="pago.idPago != 0">
            <mat-option *ngFor="let D of documento" [value]="D.id" (click)="Restante(D.restante)">
                {{D.nombreDocumento}}
            </mat-option>
        </mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Forma Pago</mat-label>
		<mat-select [(ngModel)]="pago.idForma">
            <mat-option *ngFor="let F of fPago" [value]="F.id" >
                {{F.clave}} - {{F.forma}}
            </mat-option>
        </mat-select>
	</mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Ubicacion de pago</mat-label>
        <mat-select [(ngModel)]="pago.idTipo">
            <mat-option *ngFor="let U of ubicacion" [value]="U.id">
                {{U.tipo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
		<input matInput placeholder="Observaciones" [(ngModel)]="pago.observacion" [disabled]="pago.idTipo == 1 || pago.idTipo == 0"> 
	</mat-form-field>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Importe" [(ngModel)]="pago.importe">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
                <input matInput type="number" placeholder="Restante" [(ngModel)]="pago.restante" disabled>
            </mat-form-field>
        </div>
    </div>

</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [min]="date" [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="pago.reporte">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="GuardarPago()" [hidden]="pago.idPago != 0">Guardar Pago</button>
    <button mat-button (click)="ActualizarPago()" [hidden]="pago.idPago == 0">Actualizar Pago</button>
    <button mat-button (click)="Cancelar()">Cancelado</button>
</div>