<div class="login-page">
    <div class="form">
        <img src="../../../../assets/img/icon-imf.png" class="img-fluid" width="45%" height="45%">
        <form class="login-form">
            <br>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Usuario" [(ngModel)]="usuario.Username" name="Username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Controseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" name="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <button type="submit" (click)="Existencia()" id="idGuardar">Entra</button>
        </form> 
    </div>
</div>