<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="banco.nombre">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="RFC" name="RFC" [(ngModel)]="banco.RFC">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Razon Social" name="razon" [(ngModel)]="banco.razon">
    </mat-form-field>
</div> 
<div mat-dialog-content>
    <button mat-button id="Editar" (click)="EditarBanco()">Actualizar</button>
    <button mat-button id="Guardar" (click)="GuardarBanco()">Guardar</button>
    <button mat-button (click)="Cerrar()">Cancelar</button>
</div>
