<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Nombre" type="text" [(ngModel)]="proveedor.nombre" name="nombre">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Tipo Persona</mat-label>
                        <mat-select [(ngModel)]="proveedor.persona" name="tipoPro">
                            <mat-option *ngFor="let tPer of tPersona" [value]="tPer.id">{{tPer.tipo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field [hidden]="proveedor.persona != 1 || proveedor.persona == 0">
                        <input matInput #fisica maxlength="13" placeholder="RFC" type="text" [(ngModel)]="proveedor.RFC" name="RFC">
                        <mat-hint align="end">{{fisica.value.length}} / 13</mat-hint>
                    </mat-form-field>
                    <mat-form-field [hidden]="proveedor.persona != 2 || proveedor.persona == 0">
                        <input matInput #moral maxlength="12" placeholder="RFC" type="text" [(ngModel)]="proveedor.RFC" name="RFC">
                        <mat-hint align="end">{{moral.value.length}} / 12</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Tipo Proveedor</mat-label>
                        <mat-select [(ngModel)]="proveedor.tipoPro">
                            <mat-option *ngFor="let tPro of tProveedor" [value]="tPro.id">{{tPro.tipo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Calle" type="text" [(ngModel)]="proveedor.calle" name="calle">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Numero" type="number" [(ngModel)]="proveedor.numero" name="numero">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Colonia" type="text" [(ngModel)]="proveedor.colonia" name="colonia">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput #codigo maxlength="5" placeholder="Codigo Postal" type="number" [(ngModel)]="proveedor.codigoPostal" name="codigoPostal">
                        <mat-hint align="end">{{codigo.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Paises</mat-label>
                        <mat-select [(ngModel)]="proveedor.idPais" name="idPais">
                            <mat-option *ngFor="let P of paises" [value]="P.idPais" (onSelectionChange)="obtPais(P.idPais)">{{P.nombrePais}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Estados</mat-label>
                        <mat-select [(ngModel)]="proveedor.idEstado" name="idEstado">
                            <mat-option *ngFor="let E of estados" [value]="E.id" (click)="obtEstado(E.pais,E.id)">{{E.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Ciudades</mat-label>
                        <mat-select [(ngModel)]="proveedor.idCiudad" name="idCiudad">
                            <mat-option *ngFor="let C of ciudades" [value]="C.id">{{C.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <br>
        <br>
        <button mat-stroked-button (click)="Guardar()">Click</button>
    </div>
</div>