<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Contactos</span>
                    <button mat-stroked-button (click)="Limpiar();Nuevo()">Nuevo Contacto</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombre'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <th scope="row">1</th>
                  <td mat-cell *matCellDef="let row">{{row.nombre}} {{row.paterno}} {{row.materno}}</td>
                </ng-container>

                <ng-container matColumnDef='direccion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.calle}} #{{row.numero}}, {{row.colonia}} {{row.cp}}</td>
                </ng-container>

                <ng-container matColumnDef='ubicacion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ubicacion</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCiudad}} {{row.nombreEstado}}, {{row.nombreCiudad}}</td>
                </ng-container>

                <ng-container matColumnDef='personaContacto'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Persona</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.personaContacto}}</td>
                </ng-container>

                <ng-container matColumnDef='tipoContacto'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Contacto</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.tipoContacto}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="CargarDatos(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="Contactos(row)">
                            <mat-icon>phone_in_talk</mat-icon>
                            <span>Numeros Telefonicos</span>
                          </button>
                          <button mat-menu-item (click)="BorrarContacto(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>