<mat-card>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<mat-label>Tipo Contacto</mat-label>
				<mat-select [(ngModel)]="clienteContacto.idTipo">
					<mat-option *ngFor="let Ti of tContacto" [value]="Ti.id">{{Ti.tipo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Nombres" [(ngModel)]="clienteContacto.nombre">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Apellido Paterno" [(ngModel)]="clienteContacto.apellidoP">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Apellido Materno" [(ngModel)]="clienteContacto.apellidoM">
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Correo" [(ngModel)]="clienteContacto.correo">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Ocupacion" [(ngModel)]="clienteContacto.ocupacion">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<mat-label>Tipo Persona</mat-label>
				<mat-select [(ngModel)]="clienteContacto.idPersona">
					<mat-option *ngFor="let T of tPersona" [value]="T.id">{{T.tipo}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field [hidden]="clienteContacto.idPersona != 2 || clienteContacto.idPersona == 0">
				<input matInput #moral maxlength="12" type="text" placeholder="RFC" [(ngModel)]="clienteContacto.rfc">
				<mat-hint align="end">{{moral.value.length}} / 12</mat-hint>
			</mat-form-field>
			<mat-form-field [hidden]="clienteContacto.idPersona != 1 || clienteContacto.idPersona == 0">
				<input matInput #fisica maxlength="13" type="text" placeholder="RFC" [(ngModel)]="clienteContacto.rfc">
				<mat-hint align="end">{{fisica.value.length}} / 13</mat-hint>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
                <input matInput #curp maxlength="18" type="text" placeholder="CURP" [(ngModel)]="clienteContacto.curp">
                <mat-hint align="end">{{curp.value.length}}/18</mat-hint>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Calle" [(ngModel)]="clienteContacto.calle">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="number" placeholder="Numero" [(ngModel)]="clienteContacto.numero">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="text" placeholder="Colonia" [(ngModel)]="clienteContacto.colonia">
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<input matInput type="number" placeholder="Codigo Postal" [(ngModel)]="clienteContacto.codigoPostal">
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<mat-form-field>
				<mat-label>Pais</mat-label>
				<mat-select [(ngModel)]="clienteContacto.idPais">
					<mat-option *ngFor="let P of pais" [value]="P.idPais" (click)="Estados(P.idPais)">{{P.nombrePais}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Estados</mat-label>
                <mat-select [(ngModel)]="clienteContacto.idEstado">
                    <mat-option *ngFor="let E of estado" [value]="E.id" (click)="Ciudad(E.pais,E.id)">{{E.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <mat-label>Ciudades</mat-label>
                <mat-select [(ngModel)]="clienteContacto.idCiudad">
                    <mat-option *ngFor="let C of ciudad" [value]="C.id">{{C.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-stroked-button [hidden]="clienteContacto.idContacto != 0" (click)="Guardar()">Nuevo Contacto</button>
            <button mat-stroked-button [hidden]="clienteContacto.idContacto == 0" (click)="Actualizar()">Actualizar Contacto</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-stroked-button (click)="Cancelar()" >Cancelar</button>
        </div>
	</div>
</mat-card>