<div mat-dialog-content *ngIf = "validador == 1">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Codigo +52" type="number" min="0" [(ngModel)]="telefonoCon.codigo">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <mat-form-field>
                <input matInput placeholder="Telefono" type="number" min="0" [(ngModel)]="telefonoCon.numero">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-button (click)="Guardar()">Guardar</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <button mat-button (click)="Cancelar()"> Cancelar</button>
        </div>
    </div>
</div>

<div mat-dialog-content>
    <mat-card *ngIf="validador == 0">
        <mat-toolbar>
            <mat-toolbar-row>
                <span>Telefono</span>
                <button mat-stroked-button (click)="Mostrar()">Nuevo Telefono</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card>
    <br>
    <mat-card>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='codigo'>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
                <th scope="row">1</th>
                <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
                </ng-container>

                <ng-container matColumnDef='telefono'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="EliminarTel(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>