<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Reporte Pagos Escritura</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='numeroPago'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
                  <td mat-cell *matCellDef="let row">{{row.numeroPago}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreParcela'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parcela</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='numeroLote'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                    <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                </ng-container>
                
                <ng-container matColumnDef='nombreCliente'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCliente}}</td>
                </ng-container>

                <ng-container matColumnDef='nombreDocumento'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreDocumento}}</td>
                </ng-container>

                <ng-container matColumnDef='estatusPago'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let row">{{row.estatusPago}}</td>
                </ng-container>

                <ng-container matColumnDef='formaPago'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago</th>
                    <td mat-cell *matCellDef="let row">{{row.formaPago}}</td>
                </ng-container>

                <ng-container matColumnDef='interesDocumento'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interes</th>
                    <td mat-cell *matCellDef="let row">{{row.interesDocumento}}</td>
                </ng-container>

                <ng-container matColumnDef='importe'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let row">{{row.importe}}</td>
                </ng-container>

                <ng-container matColumnDef='reporte'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let row">{{row.reporte}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
    </div>
</div>