<div class="card">
    <div class="card-body">
        <h3 *ngIf="validador == 0">Parcela: {{nombreParcela}}</h3>
        <mat-card *ngIf="validador != 0">
            <h3>{{nomLote}}</h3>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Manzana" type="number" [(ngModel)]="lote.manzana" [disabled]="lote.estatus != 1">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Area" type="number" [(ngModel)]="lote.area" [disabled]="lote.estatus != 1">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-label>Tipo Lote</mat-label>
                        <mat-select [(ngModel)]="lote.tipo" [disabled]="(lote.tipo > 4 && lote.tipo < 10) || lote.estatus != 1">
                            <mat-option *ngFor="let t of tLote" [value]="t.id">
                                {{t.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="example-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <input matInput placeholder="Precio venta" type="number" [(ngModel)]="lote.ventaM2" [disabled]="lote.estatus != 1">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Norte" [(ngModel)]="lote.norte"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Noreste" [(ngModel)]="lote.noreste"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Noroeste" [(ngModel)]="lote.noroeste"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Sur" [(ngModel)]="lote.sur"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Sureste" [(ngModel)]="lote.sureste"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Suroeste" [(ngModel)]="lote.suroeste"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Este" [(ngModel)]="lote.este"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field>
                            <textarea matInput placeholder="Oeste" [(ngModel)]="lote.oeste"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <button mat-stroked-button color="warn" (click)="Cancelar()">Cancelar</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <button mat-raised-button (click)="Anterior()" [disabled]="loteAct == 1">Anterior</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <button mat-stroked-button color="primary" (click)="Editar()">Actualizar</button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <button mat-stroked-button color="primary" (click)="EditarSiguente()" [disabled]="loteAct == canLote">Actualizar y siguente</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <button mat-raised-button (click)="Siguiente()" [disabled]="loteAct == canLote">Siguente</button>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card *ngIf="validador == 0">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>
            
                    <ng-container matColumnDef='numeroLote'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                        <td mat-cell *matCellDef="let row">{{row.numeroLote}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef='manzana'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manzana</th>
                        <td mat-cell *matCellDef="let row">{{row.manzana}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef='area'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                        <td mat-cell *matCellDef="let row">{{row.area}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef='costoLote'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                        <td mat-cell *matCellDef="let row">{{row.ventaM2}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef='ventaM2'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio venta</th>
                        <td mat-cell *matCellDef="let row">{{row.ventaLote}}</td>
                    </ng-container>

                    <ng-container matColumnDef='tipoLote'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Lote</th>
                        <td mat-cell *matCellDef="let row">{{row.tipoLote}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef='estatusLote'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus del lote</th>
                        <td mat-cell *matCellDef="let row">{{row.estatusLote}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item  (click)="EditarLote(row)">
                                <mat-icon>comment</mat-icon>
                                <span>Editar</span>
                              </button>
                              <button mat-menu-item  (click)="CambiarEstatus(row)">
                                <mat-icon>loop</mat-icon>
                                <span>Cambiar estatus</span>
                              </button>
                              <button mat-menu-item  (click)="EliminarLote(row)">
                                <mat-icon>delete</mat-icon>
                                <span>Borrar</span>
                              </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button mat-raised-button (click)="Regresar()">Regresar</button>
            </div>
        </div>
    </div>
</div>