<div mat-dialog-content>
    <mat-form-field>
        <mat-select [(ngModel)]="lote.estatus">
            <mat-option *ngFor="let E of estatusLote" [value]="E.id">{{E.estatus}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="Guardar()">Guardar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>

</div>