<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Cantidad de lotes" type="number" min="0" [(ngModel)]="lote.cantidad">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="Guardar()">Agregar lotes</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>