<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Parcelas</span>
                    <button mat-stroked-button (click)="Nuevo()">Nueva Parcela</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombre'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
                </ng-container>

                <ng-container matColumnDef='tipoParcela'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                    <td mat-cell *matCellDef="let row">{{row.tipoParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='lotes'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lotes</th>
                    <td mat-cell *matCellDef="let row">{{row.lotes}}</td>
                </ng-container>
                
                <ng-container matColumnDef='Area Vendible'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area Vendible</th>
                    <td mat-cell *matCellDef="let row">{{row.vendible}}</td>
                </ng-container>

                <ng-container matColumnDef='Area Municipal'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area Municipal</th>
                    <td mat-cell *matCellDef="let row">{{row.municipal}}</td>
                </ng-container>

                <ng-container matColumnDef='Area Vial'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area Vial</th>
                    <td mat-cell *matCellDef="let row">{{row.vial}}</td>
                </ng-container>

                <ng-container matColumnDef='Area Total'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area total</th>
                    <td mat-cell *matCellDef="let row">{{row.areaParcela}}</td>
                </ng-container>

                <ng-container matColumnDef='Ubicacion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ubicacion</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCiudad}}, {{row.nombreEstado}} ,{{row.nombrePais}} </td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  (click)="Editar(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item  (click)="AsignarLotes(row)"  [hidden]="row.lotes != 0">
                            <mat-icon>note_add</mat-icon>
                            <span>Asignar Lotes</span>
                          </button>
                          <button mat-menu-item  (click)="VerLotes(row)" [hidden]="row.lotes == 0">
                            <mat-icon>format_list_bulleted</mat-icon>
                            <span>Ver Lotes</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10,15,20,25]"></mat-paginator>
    </div>
</div>