<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Documento" [(ngModel)]="documento.nombreDocumento" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Cliente" [(ngModel)]="documento.nombreCliente" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Parcela" [(ngModel)]="documento.nombreParcela" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Lote" [(ngModel)]="documento.nombreLote" disabled>
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Importe" type="number" [(ngModel)]="documento.importe">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Capital" type="number" [(ngModel)]="documento.capital">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput placeholder="Interes" type="number" [(ngModel)]="documento.interes" (keyup)="CalcularInteres()">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <mat-form-field>
                <input matInput placeholder="Cantidad de interes" type="number" [value]="interesNum" disabled>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [min]="date" [matDatepicker]="picker" placeholder="Fecha Promesa" [(ngModel)]="documento.reporte">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Guardar()">Actualizar</button>
    <button mat-button (click)="Cancelar()">Cancelar</button>
</div>