<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Pais</mat-label>
        <mat-select [(ngModel)]="ciudad.idPais" [disabled]="ciudad.idCiudad != 0">
            <mat-option *ngFor="let P of paises" [value]="P.idPais" (click)="Estados(P.idPais)">
                {{P.nombrePais}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Estados</mat-label>
        <mat-select [(ngModel)]="ciudad.idEstado" [disabled]="ciudad.idCiudad != 0">
            <mat-option *ngFor="let E of estados" [value]="E.idEstado" >
                {{E.nombreEstado}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <mat-form-field>
        <input matInput type="text" placeholder="Nombre" [(ngModel)]="ciudad.nomCiudad">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button  id="Editar" (click)="EditarCiudad()"> Actualizar</button>
    <button mat-button  id="Guardar" (click)="GuardarCiudad()">Guardar</button>
    <button mat-button (click)="onNoClick()"> Cancelar</button>
</div>