<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Pais</mat-label>
        <mat-select [(ngModel)]="estado.idPais" [disabled]="estado.idEstado != 0">
            <mat-option *ngFor="let P of paises" [value]="P.idPais" >
                {{P.nombrePais}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <mat-form-field>
        <input matInput type="text" placeholder="Nombre" minlength="2" maxlength="60" [(ngModel)]="estado.nomEstado">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button  id="Editar" (click)="EditarEstado()"> Actualizar</button>
    <button mat-button  id="Guardar" (click)="GuardarEstado()">Guardar</button>
    <button mat-button (click)="onNoClick()"> Cancelar</button>
</div>