<div class="card">
    <div class="card-body">
        <mat-card>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" type="text" [(ngModel)]="parcela.nombre">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-label>Tipo de parcela</mat-label>
                        <mat-select name="idTipo" [(ngModel)]="parcela.idTipo">
                            <mat-option *ngFor="let T of tParcela" [value]="T.id">{{T.tipo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Area vendible" type="number" [(ngModel)]="parcela.vendible">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Area municipal" type="number" [(ngModel)]="parcela.municipal">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <input matInput placeholder="Area vial" type="number" [(ngModel)]="parcela.vial">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Pais</mat-label>
                        <mat-select name="idPais" [(ngModel)]="parcela.idPais">
                            <mat-option *ngFor="let P of paises" [value]="P.idPais" (click)="EstadoPais(P.idPais)">{{P.nombrePais}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select name="idEstado" [(ngModel)]="parcela.idEstado">
                            <mat-option *ngFor="let E of estados" [value]="E.id" (click)="CiudadEstado(E.pais,E.id)">{{E.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <mat-select name="idCiudad" [(ngModel)]="parcela.idCiudad">
                            <mat-option *ngFor="let C of ciudad" [value]="C.id">{{C.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Norte" [(ngModel)]="parcela.norte"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="noreste" [(ngModel)]="parcela.noreste"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="noroeste" [(ngModel)]="parcela.noroeste"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="este" [(ngModel)]="parcela.este"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="oeste" [(ngModel)]="parcela.oeste"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="sureste" [(ngModel)]="parcela.sureste"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="sur" [(ngModel)]="parcela.sur"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="suroeste" [(ngModel)]="parcela.suroeste"></textarea>
                </mat-form-field>
            </div>
            <button mat-stroked-button id="Guardar" (click)="GuardarParcela()">Agregar Parcela</button>
            <button mat-stroked-button id="Actualizar" (click)="EditarParcela()">Actualizar Parcela</button>
        </mat-card>
    </div>
</div>