<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Nombre" minlength="4" maxlength="60" [(ngModel)]="pais.nombre" name="nombre">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button  id="Editar" (click)="EditarPais()"> Actualizar</button>
    <button mat-button  id="Guardar" (click)="GuardarPais()">Guardar</button>
    <button mat-button (click)="onNoClick()"> Cancelar</button>
</div>