<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Paises</span>
                    <button mat-stroked-button color="primary" (click)="Limpiar();OpenModal()">Nuevo Pais</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
            <br>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>    
                    <ng-container matColumnDef='nombrePais'>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>País</th>
                      <th scope="row">1</th>
                      <td mat-cell *matCellDef="let row">{{row.nombrePais}}</td>
                    </ng-container>     
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="Cargar(row)" data-toggle="modal" data-target="#centralModalSm">
                                <mat-icon>comment</mat-icon>
                                <span>Editar</span>
                              </button>
                              <button mat-menu-item  (click)="Eliminar(row)">
                                <mat-icon>delete</mat-icon>
                                <span>Borrar</span>
                              </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: Columns;">
                    </tr>
                  </table>
            </div>
        </mat-card>
    </div>
</div>