<div class="card">
    <div class="card-body">
        <mat-card>
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Proveedores</span>
                    <button mat-stroked-button (click)="Nuevo()">Nuevo Proveedor</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
        <br>
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="Buscador($event.target.value)" placeholder="Buscador">
            </mat-form-field>
        </mat-card>
        <br>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef='nombre'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                  <th scope="row">1</th>
                  <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
                </ng-container>

                <ng-container matColumnDef='rfc'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>RFC</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.rfc}}</td>
                </ng-container>

                <ng-container matColumnDef='direccion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.colonia}}, {{row.calle}} #{{row.numero}}, C.P{{row.cp}}</td>
                </ng-container>

                <ng-container matColumnDef='ubicacion'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ubicacion</th>
                    <th scope="row">1</th>
                    <td mat-cell *matCellDef="let row">{{row.nombreCiudad}}, {{row.nombreEstado}}, {{row.nombrePais}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  (click)="Editar(row)">
                            <mat-icon>comment</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="CuentasBancarias(row)">
                            <mat-icon>account_balance_wallet</mat-icon>
                            <span>Cuentas Bancarias</span>
                          </button>
                          <button mat-menu-item (click)="Contactos(row)">
                            <mat-icon>contact_phone</mat-icon>
                            <span>Contactos</span>
                          </button>
                          <button mat-menu-item  (click)="Borrar(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                          </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns: Columns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>